 /* makes sizing simpler */

 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }

 /* remove default spacing */
 /* force styling of type through styling, rather than elements */

 * {
   margin: 0;
   padding: 0;
   font: inherit;
 }

 /* dark mode user-agent-styles */

 html {
   color-scheme: dark light;
 }

 /* min body height */

 body {
   min-height: 100vh;
 }

 /* responsive images/videos */
 img,
 picture,
 svg,
 video {
   display: block;
   max-width: 100%;
 }

 /* My code from here */

 :root {

    --font-style: Poppins,sans-serif;
    --para-font-size: 15px;
    --body-color: hsl(0, 0%, 98%);
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange : hsl(34, 97%, 64%);
    --blue : hsl(212, 86%, 64%);
 }

 body{
    font-family: var(--font-style);
    padding: 2.8em 1.5em;
    background-color: var(--body-color);
 }

 .intro-block{
  padding-left: 1.1em;
 }
  
 .intro-block__title{
    font-size:1.2em;
    line-height: 1;
    font-weight: 300;
    padding-bottom: 0.3em;
 }

 .intro-block__tool{
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 0.7em;
 }

 .intro-block__description{
    font-size: var(--para-font-size);
    padding-bottom: 3.5em;
    color:hsl(229, 6%, 66%);
    font-weight: 400;
 }

 .container{
    display: grid;
    gap:2em;
    grid-template-columns: repeat(1,1fr);
 }

  .container  div{
    height: 225px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .container__child{
      padding:1em 1.2em 0 1.2em;
  }

  .container__child-1{
    background-image: url(images/icon-supervisor.svg);
    background-repeat: no-repeat;
    background-position: bottom 1em right 1.2em;
    border-top:3.2px solid var(--cyan);
    
  }

  .container__child-2{
   background-image: url(images/icon-team-builder.svg);
   background-repeat: no-repeat;
   background-position: bottom 1em right 1.2em;
   border-top:3.2px solid var(--red);
    
 }

 .container__child-3{
   background-image: url(images/icon-karma.svg);
   background-repeat: no-repeat;
   background-position: bottom 1em right 1.2em;
   border-top: 3.2px solid var(--orange);
    
 }

 .container__child-4{
   background-image: url(images/icon-calculator.svg);
   background-repeat: no-repeat;
   background-position: bottom 1em right 1.2em;
   border-top: 3.2px solid var(--blue);
 }

  .child__title{
     font-weight: 600;
     font-size: 1em;
  }

  .child__description{
    font-size: 0.9em;
    color: hsl(229, 6%, 66%);
    padding-top: 0.5em;
  }


  @media( min-width:600px)and (max-width:1000px) {

    .container{
        grid-template-columns: repeat(2,1fr);
    }

    .intro-block{
      font-size: 1.5em;
    }
   
 }

 @media(min-width: 1000px) {

     .container{
       grid-template-columns: repeat(3,1fr);
       gap: 1.3em;
       max-width: 70%;
       margin: 0 auto;
     }

   .intro-block{
     width: 40%;
     margin: 0 auto;
     text-align: center;
     font-size: 1.5em;
   }

     .container__child-1{

       grid-area: 1 / 1 / 3 / 2;
       align-self: center;
       justify-self: center;
     }

     .container__child-4{

      grid-area: 1 / 3 / 3 /4 ;
      align-self: center;
      justify-self: center;
     }

 }    

 /* The end */

